{% extends "base.html" %}
{% block content %} 
<div class="position-relative overflow-hidden text-center bg-light top-heading">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal">Your Calendar. Reimagined</h1>
        <p class="lead font-weight-normal">
            Get ahead in life with hack-calendar. Try it today!
        </p>
        <a class="btn btn-outline-secondary" href="/calendar">Try it!</a>
    </div>
    <!-- <div class="product-device box-shadow d-none d-md-block"></div> -->
</div>

<div class="d-md-flex flex-md-equal w-100">
    <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
        <div class="my-3 py-3">
            <h2 class="display-5">Easiest Calendar. Ever</h2>
            <p class="lead">I couldn't think of any more text lol</p>
        </div>
        <div class="bg-light box-shadow mx-auto"
            style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
        </div>
    </div>
    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
            <h2 class="display-5">Made by high schoolers</h2>
            <p class="lead">More subheading text</p>
        </div>
        <div class="bg-dark box-shadow mx-auto"
            style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
        </div>
    </div>
</div>
{% endblock %}