{% extends "base.html" %}
{% block content %} 
<div class="position-relative overflow-hidden text-center bg-light top-heading main-header">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal white-text">Public Safety Information Hub</h1>
        <p class="lead font-weight-normal white-text">
            All major public safety issues. Right in one place
        </p>
        <a class="btn btn-outline-danger white-text" href="/covid">Try it!</a>
    </div>
</div>

<div class="d-md-flex flex-md-equal w-100">
    <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
        <div class="my-3 py-3">
            <h2 class="display-5">COVID-19</h2>
            <p class="lead">Get important info about the world's most pressing issue.</p>
        </div>
        <img src="{{ url_for('static', filename='covid.jpg') }}" alt="Covid Image" class="img-thumbnail covid-image">
    </div>
    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
            <h2 class="display-5">Natural Disasters</h2>
            <p class="lead">Get all the latest facts about natural disasters around the world.</p>
        </div>
        <img src="{{ url_for('static', filename='disaster.jpg') }}" alt="Covid Image" class="img-thumbnail covid-image">
    </div>
</div>
{% endblock %}